{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Welcome to the RPG Editor Project</h1>
    <p>This is the beginning of a brand-new adventure.</p>

    <div class="news">
        <h2>📢 Latest News</h2>
        <p><strong>April 7, 2025</strong></p>
        <p>The RPG Editor is currently under development! We are working hard to bring you a powerful and intuitive tool 
        to create your own role-playing games directly from your browser. Stay tuned for more updates soon!</p>
    </div>

    <div class="footer">
        &copy; 2025 - Powered by Symfony &nbsp;|&nbsp; Created by Jérémy & MasterG
    </div>
{% endblock %}
