{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <h1>Character Classes</h1>

    <table class="table">
        <tr>
            <td>Name</td>
            <td>Knight</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>A character class focused on strength and physical endurance.</td>
        </tr>
        <tr>
            <td>Level-up Bonuses</td>
            <td>
                +10 HP<br>
                +1 MP<br>
                +2 Strength<br>
                +1 Magic<br>
                +1 Agility<br>
                +1 Defense<br>
                +1 Magic Defense<br>
                +0 Wisdom<br>
                +0 Prospecting
            </td>
        </tr>
    </table>

    <p><img src="../../img/empty.png" alt="Knight image" height="100" width="100"></p>

    <table class="table">
        <tr>
            <td>Name</td>
            <td>Mage</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>A character class focused on magical power and intelligence.</td>
        </tr>
        <tr>
            <td>Level-up Bonuses</td>
            <td>
                +10 HP<br>
                +1 MP<br>
                +1 Strength<br>
                +2 Magic<br>
                +1 Agility<br>
                +1 Defense<br>
                +1 Magic Defense<br>
                +0 Wisdom<br>
                +0 Prospecting
            </td>
        </tr>
    </table>
{% endblock %}
