/* Show it is fixed to the top */
body .body-wrapper {
    min-height: 100dvh;
}
/* with flex, the content stays at athe top */
body .body-wrapper main {
    min-height: calc(100dvh - 4.5rem);
    padding-top: 4.5rem;
}

