{%- set pageTitle =
    app_parameter('app.name')
    ~ (block('title') is not defined or block('title') is empty ? '' : ' | ' ~ block('title')) -%}
<!DOCTYPE html>
<html lang="{{ app_parameter('app.default_locale') }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no">
        <title>{{ pageTitle }}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="position-relative">
        <div class="d-flex flex-column justify-content-between w-100 body-wrapper">
            {% include './_partials/header.html.twig' %}
            <main class="container-fluid mt-0 mb-auto">
                {% block body %}{% endblock %}
            </main>
            {% include './_partials/footer.html.twig' %}
        </div>

    </body>
</html>