<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Site temporarily under maintenance</title>
    <style>
        .sf-toolbar, .sf-display-none,
        .sf-toolbar.sf-display-none {
            display: none !important;
        }
    </style>
</head>
<body>
<h1>Site temporarily under maintenance</h1>
<p>Sorry for the inconvenience, we will get back soon!</p>
</body>
</html>
